<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Avarda_MarkupShippingSuiteCompatible">
        <sequence>
            <module name="Avarda_Checkout3"/>
            <module name="Markup_ShippingSuite"/>
            <module name="Magento_Checkout"/>
        </sequence>
    </module>
</config>
